body {
	padding-top: 8px;
	padding-right: 10px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
#instructions {
	padding-top: 8px;
}
#result {
	padding-top: 8px;
	-webkit-user-select: text;
}
.noSelect {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
/*.dropdown-toggle {
	width: 500px;
	text-overflow: ellipsis;
	padding-right: 100px;
}*/