body {
	padding-top: 4px;
	padding-right: 10px;
	padding-left: 8px;
}
h1 {
	padding-left: 8px;
}
h4 {
	padding-top: 4px;
}
svg {
	padding-top: 6px;
	padding-left: 8px;
}
img {
	padding-top: 6px;
	display: block;
}
.nav-tabs {
	padding-top: 4px;
	padding-left: 0px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
.instruction {
	padding-top: 14px;
}
/*#instructions {
	padding-top: 12px;
}*/
#calculation {
	padding-top:8px;
}
#result {
	padding-top: 6px;
	-webkit-user-select: text;
	font-size: 120%;
	font-weight: bold;
}
#rectangle-instructions {
	padding-top: 20px;
}
.noSelect {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
/*.dropdown-toggle {
	width: 500px;
	text-overflow: ellipsis;
	padding-right: 100px;
}*/