body {
	padding-top: 8px;
	padding-right: 10px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
#instructions {
	padding-top: 8px;
}
#result {
	padding-top: 8px;
}
/*.dropdown-toggle {
	width: 500px;
	text-overflow: ellipsis;
	padding-right: 100px;
}*/